uia.utils/target
uia.utils/.settings
uia.utils/.project
uia.utils/.classpath
uia.message/target
uia.message/.settings
uia.message/.project
uia.message/.classpath
uia.message/grammar/output
uia.message.ui/target
uia.message.ui/.settings
uia.message.ui/.project
uia.message.ui/.classpath
